#box {
    height: 100%;
}

body {
    background-color: whitesmoke;
}

#main-div {
    height: 100%;
}

.insidebox {
    border: 1px solid black;
    margin: 3% auto 6% auto;
    max-width: 500px;
    min-width: 200px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
}

div h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

#Subtitle {
    font-size: 15px;
    font-weight: 200;
    color: #fff;
}

#eye-password {
    position: absolute;
    left: 350px;
    top: 10px;
    color: grey;
    z-index: 2;
}

.input-field {
    border: none;
    outline: none;
    padding-top: 3px;
    padding-left: 3px;
    width: 100%;
    height: 30px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.login-link {
    text-decoration: none;
    color: black;
    /*border:2px solid black;*/
}

    .login-link:hover {
        text-decoration: underline;
        color: black;
    }

.form-control {
    z-index: 0 !important;
}
